@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin absPosition {
  position: absolute;
  top: 0;
  left: 0;
}

// MEDIA QUERIES MANAGER

/*
0 - 600px:     Phone
600 - 900px:   Tablet portrait
9 - 1200px:    Tabler landscape
[1200 - 1800px] is where normal styles apply
1800px+ :      Big desktop

$breakpoint arguments:
- phone
- tab-port
- tab-land
- big-desk
*/

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5rem) { @content }; //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25rem) { @content }; //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75rem) { @content }; //1200px
  }
  @if $breakpoint == big-desk {
    @media (max-width: 112.5rem) { @content }; //1800px
  }
}
